<div class='row'>
	<div class='col-md-8'>
		<%= render partial: '0p/general/titulo', locals: {c: 'elementos', a: nil, titulo: 'Colección', size: '5'} %>
		<%= render partial: 'elementos/img_index', locals: {coleccion: @coleccion['elementos']} %>
	</div>
	<div class='col-md-4'>
		<%= render partial: '0p/general/titulo', locals: {c: 'listas', a: nil, titulo: 'Listas', size: '5'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'listas', a: 'index'} %>
	</div>
</div>
