<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/form/form', locals: {c: controller_name, a: action_name} %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: @titulo, size: '5'} unless @titulo.blank?%>

		<h5 class='center'>
			</br></br>
			<%= sanitize @texto.gsub(/\n/, '<br>') unless @texto.blank? %>
		</h5>
	</div>
</div>