</br>
<%= form_for :nuevo_equipo, url: "/equipos/nuevo?tab=#{@tab}" do |form| %>
	<div class='form-inline'>
		<%= form.text_field(:equipo, size: 128, class: 'form-control' ) %>
		<%= form.submit '+ Equipo'  %>
	</div>
<% end  %>
</br>