<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo soporte:</strong>
  <%= @tipo_soporte.tipo_soporte %>
</p>

<%= link_to 'Edit', edit_tipo_soporte_path(@tipo_soporte) %> |
<%= link_to 'Back', tipo_soportes_path %>
